[Unit]
Description=Timing System for Robot Races
After=network.target

[Service]
Type=simple
User=dreher
WorkingDirectory=/home/dreher/portal-pi
ExecStart=/home/dreher/portal-pi/venv/bin/python3 /home/dreher/portal-pi/main.py --config /home/dreher/portal-pi/config.yaml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
